{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Inventory Management System{% endblock %}</title>

    <link rel="stylesheet"
          href="{% static 'css/style.css' %}">
</head>

<body>

<header class="navbar">

    <div class="logo">
        Inventory Management
    </div>

    <nav>
        <a href="{% url 'dashboard' %}">
            Dashboard
        </a>

        <a href="{% url 'supplier_list' %}">
            Suppliers
        </a>

        <a href="{% url 'product_list' %}">
            Products
        </a>

        <a href="{% url 'purchase_order_list' %}">
            Orders
        </a>

        <a href="{% url 'stock_transaction_list' %}">
            Stock
        </a>

        <a href="{% url 'low_stock' %}">
            Low Stock
        </a>

        <a href="/api/">
            API
        </a>
    </nav>

</header>


<main class="container">

    {% if messages %}

        {% for message in messages %}

            <div class="message">
                {{ message }}
            </div>

        {% endfor %}

    {% endif %}


    {% block content %}

    {% endblock %}

</main>


<footer>
    <p>
        Inventory Management System
        | Python + Django + Oracle
    </p>
</footer>

</body>
</html>